{% extends "base.html" %}
{% block title%}Run a Simulation{% endblock %}
{% block content %}
        <div class="span9">
          <div class="hero-unit">
            <h2>Run a Simulation</h2>
            <h3>Required Parameters</h3>
            <h3>
              <a data-toggle="collapse" data-target="#optional">
                Optional Parameters
              </a>
            </h3>
            <div id="optional" class="collapse">
            </div>
          </div>
        </div><!--/span-->
{% endblock %}
