{% extends "base.html" %}
{% block title%}Run a Simulation{% endblock %}
{% block content %}
        <div class="span9">
          <div class="hero-unit">
            <h2>Run a Simulation</h2>
            <h3>Required Parameters</h3>
            <h3>
              <a data-toggle="collapse" data-target="#optional">
                Optional Parameters
              </a>
            </h3>
            <div id="optional" class="collapse">
              <br />
              <label class="checkbox">
                <input type="checkbox" name="keep-trajectories"> Keep trajectory data
              </label>
              <label class="checkbox">
                <input type="checkbox" name="keep-histograms"> Keep histogram data
              </label>
              <label class="checkbox">
                <input type="checkbox" name="label"> Label columns with species names
              </label>

              <br />
              <label>Seed</label>
              <input type="text" class="span3" name="seed" value="0">
              <span class="help-block">Seed the random number generator.
              </span>

              <br />
              <br />
              <label>Epsilon</label>
              <input type="text" class="span3" name="epsilon" value="0.3">
              <span class="help-block">Set the tolerance (applicable to tau 
leaping only). Valid values: must be greater than 0.0 and less than 1.0.
              </span>

              <br />
              <br />
              <label>Threshold</label>
              <input type="text" class="span3" name="threshold" value="10">
              <span class="help-block">Set the threshold (minimum number of
reactions per leap before switching to ssa) for tau leaping.
              </span>

            </div>

            <br />
            <p>
              <a class="btn btn-primary btn-large" href="#start">Run &raquo;</a>
            </p>
          </div>
        </div><!--/span-->
{% endblock %}
